.ant-tabs {
   ::before {
      display: none;
   }
   .ant-tabs-nav {
      padding: 0px !important;
      margin: 5px 0px !important ;
      .ant-tabs-nav-list {
         .ant-tabs-tab {
            padding: 0px !important;
         }
      }
   }
   .ant-tabs-ink-bar {
      height: 3px !important;
      border-radius: 20px;
   }
}
