.contact {
   .ant-form-item-required {
      gap: 5px;
   }

   .ant-form-item-margin-offset {
      display: none !important;
      margin: 0 !important;
   }

   .ant-form-item {
      margin-bottom: 20px !important;
   }
}
